.header{
	background-color: #0099dc;
}
#logo{
	padding: 3%;
}
.inst-name{
	color:#fff;
}
#search{
	margin-top: 15%;
}
.nav-menu-bottom{
	margin-bottom: 0px;
	background-color: rgb(0, 75, 152);
	border: 0px none rgb(0, 75, 152);
}
#menu li{
	margin-right: 20px;
}
#menu li a:hover{
	background-color: #5fb4e5;
}

.middle-div{
	height:auto;
	background-color: #abdaef;
	border: 1px none;
}
.middle-banner-div{
	background-image: url("http://localhost/pooja/6oct2016/images/banner1.png");
    background-repeat: no-repeat;
    /*width: 102.5%;*/
    /*margin-left: -14px;*/
    padding-top:40%;
    border:1px #004b98 solid;
    background-size: cover;
}
.banner-text{
	margin-top: -20%;
	background-color: #ef484a;
	/*width: 50%;*/
	/*padding-left: 10px;*/
	/*margin-left: 10px;*/
	color:#fff;
	text-align: center;
}
.banner-text2{
	background-color: #ad1616;
	/*width:90%;*/
	text-align: center;
	margin-left:5%;
}
.four-images{
	bottom: 0%;
}
.footer{
	height:auto;
	/*width:100%;*/
	background-color: #222222;
	border: 1px solid;
	color:#fff;
	text-align: center;
}
.page-content{
	padding-left: 0px;
	padding-right: 0px;

}
